<h3>{{pirates.name}} </h3>
<li>Birthplace: {{pirates.birthplace}}</li>
    <li>Death Year: {{pirates.death_year}}</li>
    <li>Base: {{pirates.base}}</li>
    <li>Nickname: {{pirates.nickname}}</li>

    <a href="/pirates/new">See New Pirates</a>

